@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

a.navbar-brand {
  max-width: 225px;
}

div.cover-hero {
  width: auto;
  height: 940px;
}
