// overrides first
//$primary: #fff;
$link-color: #0000ee;
$navbar-dark-color: #fff;
$display-font-weight: 700;
$font-family-sans-serif: Roboto, Poppins, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// and then import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

/*
bootstrap standard sizing
// Large Devices, Wide Screens
@media only screen and (max-width : 1200px) { }
// Medium Devices, Desktops 
@media only screen and (max-width : 992px) { }
// Small Devices, Tablets
@media only screen and (max-width : 768px) { }
// Extra Small Devices, Phones
@media only screen and (max-width : 480px) { }
// Custom, iPhone Retina
@media only screen and (max-width : 320px) { }
*/

// -------------------------
// project specific styles
// -------------------------

// styling for highlighting the current narrated paragraph
.current {
  border-left-color: #020d70 !important;
}

.narration {
  &.header {
    color: #fff !important;
  }

  p {
    border-left: 5px solid lightgrey;
    padding-left: 10px;
  }
}

// audio player jumps to the bottom on mobile
@media only screen and (max-width: 768px) {
  // Small Devices, Tablets
  .topic-page {
    padding-bottom: 4em;
  }

  .narration {
    padding-top: 1em;
  }
}

// map testing css
svg.map {
  g.map--text {
    path {
      font-size: 9.88348389px;
      font-style: normal;
      font-weight: normal;
      fill: #000000 !important;
      stroke: #fff !important;
      font-family: Bitstream Vera Sans;
    }
  }

  path {
    fill: #ddd;
    fill-opacity: 1;
    stroke: #aaa;

    &.map--evenodd {
      fill-rule: evenodd;
    }

    &.map--nonzero {
      fill-rule: nonzero;
    }

    &.map--stroke-white {
      fill: none;
      stroke: #ffffff;
      stroke-width: 1;
      stroke-linecap: butt;
      stroke-linejoin: miter;
      stroke-miterlimit: 4;
      stroke-opacity: 1;
      stroke-dasharray: none;
    }

    &.map--stroke-black {
      fill: none;
      stroke: #000000;
      stroke-width: 0.5;
      stroke-linecap: butt;
      stroke-linejoin: miter;
      stroke-miterlimit: 4;
      stroke-opacity: 1;
      stroke-dasharray: none;
    }
  }
}

path:hover {
  fill: #800 !important;
}
