// overrides first
$primary: #fff;
$link-color: #0000EE;
$navbar-dark-color: #fff;
$display-font-weight: 700;
$font-family-sans-serif: Roboto, Poppins, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// and then import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// project specific styles
.current {
    background-color: lightgoldenrodyellow !important;
}